{% extends 'landpage/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Header -->
<!--<header>-->
<!--    <div class="container">-->
<!--        <div class="intro-text">-->
<!--            <div class="intro-lead-in">-->
<!--                Welcome to our classroom!-->
<!--            </div>-->
<!--            <div class="intro-heading">-->
<!--                It's time to start learning-->
<!--            </div>-->
<!--            <a onclick="ajax_popup_register();" class="btn btn-xl">-->
<!--                Register-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->


 <!-- Header -->
    <header class="header mh-fullscreen" style="background-image:url(/static/assets/img/header.jpg)"  data-overlay="6">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-white">
                    <h1 class="display-2 fw-500 mb-6">Aspire</h1>
                    <p class="lead-3">Your OneStop location for all your curricular and co-curricular learning.</p>

                    <hr class="w-50px ml-0">


                </div>

                <div class="col-md-4 mx-auto text-black py-4">
                    <form class="section-dialog bg-secondary py-6 px-5">
                        <div class="form-group">
                            <label>Email address</label>
                            <div class="input-group">

                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                </div>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                                </div>
                                <input type="password" id = "password" name="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <button onclick="login_helper()" class="btn btn-lg btn-round btn-success">Log in</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </header>
    <!-- /.header -->


<!-- Social Media -->
<!--<div id="social-buttons" class="hidden-print">-->
<!--    <div class="container">-->
<!--        <ul class="list-inline">-->
<!--            <li>-->
<!--                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=aspire&amp;repo=py-aspire&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>-->
<!--            </li>-->
<!--            <li>-->
<!--                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=aspire&amp;repo=py-aspire&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>-->
<!--            </li>-->
<!--            <li>-->
<!--                <iframe src="https://ghbtns.com/github-btn.html?user=aspire&repo=py-aspire&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>-->
<!--            </li>-->
<!--            <li class="follow-btn">-->
<!--                &lt;!&ndash; Make your own here: https://dev.twitter.com/web/follow-button &ndash;&gt;-->
<!--                <iframe-->
<!--                    src="//platform.twitter.com/widgets/follow_button.html?screen_name=aspire"-->
<!--                    style="width: 235px; height: 20px;"-->
<!--                    allowtransparency="true"-->
<!--                    frameborder="0"-->
<!--                    scrolling="no">-->
<!--                </iframe>-->
<!--            </li>-->
<!--            <li class="tweet-btn hidden-phone">-->
<!--                &lt;!&ndash; Make your own here: https://about.twitter.com/resources/buttons#tweet &ndash;&gt;-->
<!--                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.acadmicstoday.ca" data-text="Providing free university education to everyone on the planet, check us out!" data-via="aspire" data-hashtags="aspire">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->



<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why Enroll today?</h2>
                <h3 class="section-subheading text-muted">Because we believe education is for everyone</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Free for Everyone</h4>
                <p class="text-muted">We at Aspire E-Learning believe in the principle of Neutron Learning, also known as learning without charge. You can take any course you want, for free.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Eductional</h4>
                <p class="text-muted">Aspire E-Learning can be used to link to videos all around the world, compile them, and add tests and assignments to create personalized courses.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Open Source</h4>
                <p class="text-muted">Aspire E-Learning is a tool that can be used by anyone and seen by everyone. Open Source Code ensures all can participate securely.</p>
            </div>
        </div>
    </div>
</section>


    <!-- Main Content -->
    <main class="main-content">


        <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Populate the page
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->



    </main>





<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            {% for partner in partners %}
            <div class="col-md-3 col-sm-6">
                <a href="http://{{ partner.url }}">
                    <img src="{% static 'img/' %}logos/{{ partner.image_filename }}"
                       class="img-responsive img-centered"
                         alt=""{{ partner.title }}>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</aside>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright © Aspire E-Learning 2019</span>
            </div>
<!--            <div class="col-md-4">-->
<!--                <ul class="list-inline social-buttons">-->
<!--                    <li><a href="https://twitter.com/aspire"><i class="fa fa-twitter"></i></a></li>-->
<!--                    <li><a href="https://www.facebook.com/aspire"><i class="fa fa-facebook"></i></a></li>-->
<!--                    <li><a href="https://plus.google.com/+aspireInc"><i class="fa fa-google-plus"></i></a></li>-->
<!--                    <li><a href="https://github.com/aspire"><i class="fa fa-github"></i></a></li>-->
<!--                    <li><a href="http://www.youtube.com/aspireinc"><i class="fa fa-youtube"></i></a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="/privacy">Privacy Policy</a>
                    </li>
                    <li><a href="/terms">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!----------------------------------------------------------------------------->

<!-- Modal -->
<div id="ajax_response_course_preview" name="ajax_response_course_preview"></div>
<div id="ajax_response_login"></div>
<div id="ajax_response_register"></div>
<!-- end modal -->

<!----------------------------------------------------------------------------->
<script>
function login_helper()
{
    var url = 'login';

    $.ajax( url, {
        data: {
           'csrfmiddlewaretoken': '{{ csrf_token }}',
            'username': $("#email").val(),
            'password': $("#password").val()
        },
        type: 'POST',
        success: function(var1) {
            // / success code execution here
            // $('#ajax_response_login').html(result); // Update UI.
            if(var1.status == "success"){
                console.log("done");
                // window.location.href = '';
            }
            else{
                alert(var1.message);
            }
        },
        error: function(xhr,status,error) {
            // error code here
        },
        complete: function(xhr,status) {
            // completion code here

        }
    });


}


function ajax_register()
    {
        // Only fetch the information on the register modal.
        var $form = $('#register_form');

        // Send registration AJAX call to the server.
        var url = 'register';
        $.ajax( url, {
            data: {
               'first_name': $form.find('input[name="first_name"]').val(),
               'last_name': $form.find('input[name="last_name"]').val(),
               'email': $form.find('input[name="email"]').val(),
               'password': $form.find('input[name="password"]').val(),
               'password_repeated': $form.find('input[name="password_repeated"]').val(),
               'is_18_or_plus': $('#id_is_18_or_plus').is(':checked'),
               'captcha_0': $form.find('input[name="captcha_0"]').val(),
               'captcha_1': $form.find('input[name="captcha_1"]').val(),
               'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            type: 'POST',
            success: function(json_result) {
               // success code execution here
               if (json_result.status == "success")
               {
                    // Send the username & password now that it's in the
                    // registery and then login.
                    ajax_authenticate(
                        $form.find('input[name="email"]').val(),
                        $form.find('input[name="password"]').val()
                    );
               }
               else
               {
                    refresh_captcha();

                    // Make the hidden error box appear and display error.
                    print_error(json_result.message);
               }
            },
            error: function(xhr,status,error) {
               // error code here
               refresh_captcha();
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }
</script>
{% include "landpage/main/js.html" %}

<!--{% if HAS_ADVERTISMENT %}-->
<!--&lt;!&ndash; Ads &ndash;&gt;-->
<!--<br/>-->
<!--<div class="row">-->
<!--    <div class="col-lg-12">-->
<!--        <div style="text-align: center;">-->
<!--            <a href='http://a-ads.com?partner=68202'>Advertise with Anonymous Ads</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; /.Ads&ndash;&gt;-->
<!--{% endif %}-->

{% endblock content %}